body {
    height: 100vh;
}

img.grey {
    filter: invert(50%);
}

main {
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    font-size: 33.33vmin;
    font-family: sans-serif;
    width: 90vmin;
    height: 90vmin;
    display: grid;
    grid-template: repeat(3, 33.33%) / repeat(3, 33.33%);
    gap: 0;
    border: 1px solid black;
    border-width: 1px 0 0 1px;
}

.grid > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-width: 0 1px 1px 0;
}

.grid > div[data-player="0"]::before {
    color: red;
    content: 'X'
}

.grid > div[data-player="1"]::before {
    color: green;
    content: 'O'
}
